body {
  background-color: #0d0c34;
  background-image: url('../imgs/serol_bg_sm.jpg');
  color:#fff;
}

.site {
  border: 5px solid #aaa;
  background-color: #0d0c34;
  padding:5px;
  display:inline-block;
  border-radius: 25px;
  z-index: 30;
}
.telescope{
  display:inline-block;
  height:100px;
}

.tfn {border-color: #263c6f;}
.ogg {border-color: #3366dd;}
.tlv {border-color: #0038b8 ;}
.coj {border-color:#fac900;}
.cpt {border-color:#004f00;}
.elp {border-color:#700000;}
.lsc {border-color: #f04e23;}


.fa-sun{
  color:#FFCE33;
}

.fa-clouds-sun{
  --fa-secondary-color:#FFCE33;
}

.title{
    font-size:2em;
    display:inline-block;
    margin:0;
    padding:5px 0;
}
.telescopes{
  display:block;
}

/* World Map */
	#map { height:100%; width: 100%; position:relative; }
.worldMap {
  position:relative;
  display:inline-block;
  width:100%;
}
.worldMap img {
  display:block;
	width: 100%;
}

.spot {
	overflow: visible;
	position: absolute;
	z-index: 30;
  width:2%;
  height:3%;
  border-radius:50%;
  background:#fff;
}

.site-info {
	font-family: 'Affogato-Regular', sans-serif;
	font-size: 0.81em;
	line-height: 1.3em;
	color: #fff;
	-webkit-box-shadow: 2px 2px 19px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 2px 2px 19px -1px rgba(0,0,0,0.45);
	box-shadow: 2px 2px 19px -1px rgba(0,0,0,0.45);
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  z-index: 30;
}

.location:hover {
	z-index: 50;
}
.location:hover .infoBox, .location.shown .infoBox {
	display: block;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.arrow {
	position: absolute;
	visibility: hidden;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.worldMap .spot.tlv {
	left: 55.5%;
    top: 35.0%;
}
.worldMap .spot.lsc {
	left: 23.014%;
    top: 81.214%;
}

.worldMap .spot.china {
	left: 68.554%;
	top: 36.634%;
}
.worldMap .spot.ogg {
	left: 1.584%;
	top: 49.014%;
}
.worldMap .spot.elp {
	left: 11.5%;
	top: 28%;
}
.worldMap .spot.tfn {
	left: 38.7%;
	top: 37.7%;
}
.worldMap .spot.cpt {
	left: 50%;
	top: 67%;
}
.worldMap .spot.coj {
	left: 89%;
	top: 68%;
}

#buffer {
  display: none;
}

@media (min-width: 768px) {
  .status { max-width:50px; max-height: 50px;}

  .status canvas{
    max-width: 50px;
    max-height: 50px;
  }
}

@media (min-width: 1024px){
.status { max-width:75px; max-height: 75px;}
  .status canvas {
    max-width: 75px;
    max-height: 75px;
    width:100%;
  }
}

@media (min-width: 1200px){
.status { max-width:100px; max-height: 100px;}
  .status canvas {
    max-width: 100px;
    max-height: 100px;
    width:100%;
  }
}
