<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Serol's Network Overview</title>
  <meta name="description" content="Serol's Network Overview">
  <meta name="author" content="Edward Gomez">

  <link rel="stylesheet" href="css/styles.css?v=1.8.4">
  <script src="https://kit.fontawesome.com/a6b928a86b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="js/suncalc.js"></script>
  <script src="js/lottie.js"></script>


</head>

<body>
  <div id="sites">
    <h2>Updated {{ updated }}</h2>
    <div id="serol-status" class="status"></div>
    <div v-for="(value, name) in sitecodes" :class="'site ' +name">
        <div class="title">{{ value.name }}</div>
        <p class="title" v-if="value.weather.day">
          <span v-if="value.weather.current"><i class="fas fa-sun"></i></span>
          <span v-else><i class="fad fa-clouds-sun"></i></span>
        <p  class="title" v-else>
          <span v-if="value.weather.current"><i class="fas fa-stars"></i></span>
          <span v-else><i class="fad fa-clouds-moon"></i></span>
        </p>
        <div class="telescopes">
          <div v-for="tel in value.tels" class="telescope">
           <div :id="tel.name" class="status" :title="tel.state"></div>
          </div>
      </div>
    </div>
</div>

<script>
  // import suncalc from '@/suncalc';
  var display_

  var app = new Vue({
  el: '#sites',
  props: ['sites', 'sitestatus'],
  data: {
    sitecodes: {},
    updated: null,
    timer: undefined
  },
  computed: {

  },
    created () {
        this.weather();
        this.getJsonData();
        this.loadData();
        this.timer = setInterval(this.loadData, 300000)
    },
    beforeDestroy() {
      if (this.timer) {
        clearInterval(this.timer)
        this.timer = undefined
      }
    },
    methods: {
      loadData: function() {
      axios.get('https://observe.lco.global/api/telescope_states/?format=json')
        .then(response => response.data)
        .then(json => {
          this.updated = Date();
          var tmparr = this.sitecodes;
          var instate;
          var anims = lottie.getRegisteredAnimations()
          anims.forEach(function(a){a.destroy()})
          addAnimation('serol-status','serol-thinking',true);
          for (var s in this.sitecodes){
            var day = this.sitecodes[s]['weather']['day'];
            this.sitecodes[s]['tels'].forEach(function(el, i){
              if (json[el.name] != undefined){
                if (day){
                  instate = 'DAY';
                }else{
                  instate = json[el.name][0]['event_type'];
                }
                tmparr[s]['tels'][i].state = instate;
                tmptime = json[el.name][0]['start'];
                addAnimation(el.name, instate);
                console.log(el.name, instate);
              } else {
                addAnimation(el.name,'UNKNOWN');
              }
            })
          }
        })
      },

      getJsonData () {
        fetch( 'js/sites.js' ).then( resp => resp.json() ).then( json => { this.sitecodes = json; });
      },
      cancelAutoUpdate () {
        clearInterval(this.timer)
      },
      weather: async function() {
        console.log('weather')
        var now = new Date();
        var end = now.toISOString();
        now.setDate(now.getDate()-1);
        var start = now.toISOString();
        for (var site in this.sitecodes){
          var position = SunCalc.getPosition(now, this.sitecodes[site]['lat'], this.sitecodes[site]['lng']);
          this.sitecodes[site]['weather']['day'] = (position.altitude < 0) ? false : true;
          this.sitecodes[site]['weather']['current'] = await this.checkWeather(site, start, end);
        }
      },
      checkWeather: async function(site,start,end) {
        return await axios.get('https://weather-api.lco.global/query?site='+site+'&datumname=Weather%20Ok%20To%20Open&agg=False&start='+start+'&end='+end)
          .then(response => response.data)
          .then(json => json[json.length-1]['ValueString']=='true' ? true : false);
      }
    }
});


function addAnimation(id, state, serol=false){

  var size = id.substr(9,3);
  var statusfile;
  var statefile = {
    'AVAILABLE' : 'active.json?v=1.3',
    'NOT_OK_TO_OPEN': 'angry.json?v=1.3',
    'ENCLOSURE_INTERLOCK': 'sick.json?v=1.3',
    'UNKNOWN': 'sleep.json?v=1.3',
    'SEQUENCER_DISABLED' : 'sleep.json?v=1.3',
    'SITE_AGENT_UNRESPONSIVE' : 'sleep.json?v=1.3',
    'DAY' : 'sleep.json?v=1.3',
    'serol-thinking':'serol.json?v=1.4'
  }
  if (serol == true){
    statusfile = '/js/'+statefile[state];
  } else {
    statusfile = "/js/"+size+"/"+statefile[state];
  }
  // anims
  lottie.loadAnimation({
      animationID: id,
      container: document.getElementById(id),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      autoloadSegments: true,
      rendererSettings: {
          progressiveLoad:false
      },
      path: statusfile
  });
}

</script>
</body>
</html>
